body{
    background-color: hsl(0,0%,92%);
}

.section1{
    margin-top: 42px;
    text-align: center;
}

.aims{
    text-align: center;
}

.aims{
    margin: 0;
}

.aims h1{
    font-family: "Open Sans", "Nunito", sans-serif;
    font-weight: 375;
    font-size: 27px;
    color: #7C7C7C;
    line-height: 1px;
    margin-bottom: 30px;
}

.form-container{
    display: flex;
    justify-content: center;
}

.form-container button{
    display: flex;
    flex-direction: column;
    height: 37px;
    width: 350px;
    margin-bottom: 5px;
    align-items: center;
    padding-top: 6px;
    
}

.blue{
    background-color: #619ACA;
    border: 1px solid #327dbb;
    border-radius: 4px;
    color: whitesmoke;
    font-family: "Open Sans", "Nunito", sans-serif;
    font-weight: 700;
}

.grey{
    background-color: #53575D;
    border: 1px solid #3d3e41;
    border-radius: 4px;
    color: whitesmoke;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.green{
    background-color: #6FA45F;
    border: 1px solid #577c4c;
    border-radius: 4px;
    color: whitesmoke;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.blue:hover{
    background-color: hsl(204, 41%, 35%);
    cursor: pointer;
}

.grey:hover{
    background-color: hsl(0, 0%, 22%);
    cursor: pointer;
}

.green:hover{
    background-color: hsla(120, 50%, 26%, 0.884);
    cursor: pointer;
}
