/*ALL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    padding-top: 1px;
    background-color: hsla(0, 0%, 93%, 0.87);
    padding-bottom: 50px;
}

footer{
    background-color: white;
    text-align: center;
    margin-top: 50px;
    margin: 50px;
}
/*Yung logo name ng facebook*/
h1{
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgb(49, 78, 240);
    margin-top: 100px;
}
/*Format ng form tag*/
form {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
      0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
/*Para sa mga input tags/elements*/
form input {
    height: 48px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 1rem;
    padding: 0 14px;
}

/*ginitna ko lang yung label*/
form label{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

/*Kapag nagtatype yung user eto yung didisplay*/
form input:focus{
    outline: none;
    border-color: #1877f2;
}

::placeholder {
    color: #777;
    font-size: 1.063rem;
}

form a{
    text-decoration: none;
    text-align: center;
    overflow: hidden;
}

form a:hover{
    text-decoration: underline;
}

.login{
    background-color: rgb(49, 78, 240);
    color: white;
    cursor:pointer;
}

.login:hover{
    background-color: rgb(37, 59, 185);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.options{
    padding: 3px;
    margin-top: 3px;
}